
services:

  db_service:
    # build: 
      # context: ./db
    image: postgres:16.8
    restart: unless-stopped
    ports: 
      -  5433:5432
    shm_size: 128mb
    environment:
      PGUSER: ${PGUSER}  # Username for the database
      PGPASSWORD: ${PGPASSWORD} # Password for the database user
      PGDATABASE: ${PGDATABASE} # Name of the database to create
  
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U ${PGUSER} -d ${PGDATABASE} -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

   
  app:
    build: 
      context: .


