
services:

  db_service:
    # build: 
    #   context: .
    image: supabase/postgres
    restart: unless-stopped
    ports: 
      -  5433:5432
    environment:
      POSTGRES_USER: ${PGUSER}  # Username for the database
      POSTGRES_PASSWORD: postgres # Password for the database user
      POSTGRES_DATABASE: ${PGDATABASE} # Name of the database to create
    command: postgres -c config_file=/etc/postgresql/postgresql.conf 
    healthcheck:
      test: ["CMD-SHELL","pg_isready -d postgres -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

    volumes: 
     - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
   
  app:
    build: 
      context: .


